annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
asgiref==3.5.0
certifi==2020.6.20
chardet==4.0.0
click==8.0.3
fastapi==0.128.0
h11==0.16.0
idna==3.3
numpy==2.2.6
pydantic==2.12.5
pydantic_core==2.41.5
python-dateutil==2.8.1
pytz==2022.1
scipy==1.15.3
starlette==0.50.0
typing-inspection==0.4.2
typing_extensions==4.15.0
uvicorn==0.40.0
wsproto==1.0.0