*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  /* Fondo principal: Gris medio suave para separar del fondo de la oficina */
  --color-bg:         #dcdcdc; 
  /* Superficies: Negro mate y gris carbón para los paneles del PLC */
  --color-surface:    #1e1e1e; 
  --color-surface2:   #2d2d2d;
  --color-surface3:   #cbced0;
  --color-surface4:   #bfbbbb;
  /* Estados de Máquina: Colores "Glow" sobre fondo negro */
  --color-normal:     #008f39; /* Verde neón (Operación activa) */
  --color-warning:    #e5ff00; /* Ámbar (Alerta sistema) */
  --color-critical:   #b22222; /* Rojo vibrante (Falla crítica) */
  --color-critical2:  #ff4444; /*Rojo para que constraste con el negro*/
  --color-offline:    #003366; /* Azul grisáceo (Desconectado) */
  /* Texto: Blanco hueso sobre las superficies negras */
  --color-text:       #f5f5f5; 
  --color-text-muted: #1e1e1e; 
  --color-text-dark:  #121212; /* Titulos de las tarjetas de las maquinas */
  --color-text-subtle: #454545;
  /* Acento: Azul eléctrico para destacar interacciones */
  --color-accent:     #3e3e3e; 
  --sidebar-width:    240px;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;
  overflow: hidden;
}

#app {
  height: 100vh;
  display: flex;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: var(--color-surface);
}
::-webkit-scrollbar-thumb {
  background: var(--color-surface2);
  border-radius: 3px;
}